.we-supply {
  margin-left: 42px;
  font-size: 14px;

  & > div:first-child {
    margin-bottom: 20px;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & input[type="radio"] {
    display: none;
  }
}

.we-supply__radio {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(41, 42, 52, 0.5);
  position: relative;
}

.we-supply input[type="radio"]:checked + .we-supply__radio,
#counterparty-yes:checked ~ .radio-counterparty > .we-supply__radio,
#credit-limit-specify:checked ~ .radio-counterparty > .we-supply__radio {
  border-color: #292a34;

  &::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #292a34;
    border-radius: 50%;
    left: 1px;
    top: 1px;
  }
}

.input-form__short {
  width: 50%;
}

.counterparty__radio-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  flex-shrink: 0;
}

.input-short__radio {
  display: none !important;
  flex-direction: column;
  align-items: flex-start !important;
  margin-left: 40px;
  margin-bottom: 20px;
  gap: 8px;

  & > label {
    margin-left: 42px;
  }
  & > input {
    width: 70%;
  }
}

#counterparty-yes:checked ~ .input-short__radio {
  display: flex !important;
}

#credit-limit-specify:checked ~ .input-short__radio {
  display: flex !important;
}

.we-supply__radio {
  flex-basis: 18px;
}

.radio-counterparty {
  display: flex;
  align-items: center;
  gap: 10px;
}

.credit-limit-specify {
  margin-top: 20px;
}

#credit-sum {
  position: relative;

  &::after {
    position: absolute;
    content: "руб.";
    color: #292a34;
    opacity: 0.5;
    top: 33%;
    right: 70px;
  }
}

textarea {
  padding-top: 20px !important;
  height: 86px !important;
}

textarea::placeholder {
  opacity: 0.5;
  font-size: 14px;
}

.download-file {
  display: flex;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  width: 194px;
  height: 50px;
  justify-content: space-evenly;
  gap: 5px !important;
  margin-left: 42px !important;
}

input[type="file"] {
  display: none;
}

.doc-list {
  display: flex;
  width: 404px;
  margin-left: 42px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;

  & > .download-file {
    flex-shrink: 0;
    align-items: center;
  }
}
