.business {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100% - 63.98px);
}

.business-open {
  grid-template-columns: 2fr 1fr;
}

.business__main-content {
  overflow: hidden;
  background-color: #f4f4f4;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    padding: 38px 18px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);

    &-left {
      display: flex;
      gap: 27px;
      align-items: center;
      justify-content: space-between;

      &__position {
        display: flex;
        gap: 18px;
        align-items: center;
        cursor: pointer;
      }

      &__select {
        position: relative;
      }
    }

    &-right {
      display: flex;
      gap: 18px;
      align-items: center;

      &__btn {
        border: none;
        background: transparent;
        cursor: pointer;
      }
    }
  }
}

.p-black {
  font-weight: 400;
  font-size: 18px;
  color: #292a34;
}

.p-grey {
  font-weight: 400;
  font-size: 14px;
  color: rgba(41, 42, 52, 0.5);
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

.business__main-content__list-block__item__message-active > div::after {
  position: absolute;
  content: "4";
  width: 20px;
  height: 20px;
  color: #fff;
  background: #01b0e9;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  text-align: center;
  top: -9px;
  right: -9px;
}

#business-select-menu__label {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 8px 16px 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 66px;
  cursor: pointer;

  & > div {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

#business-select-menu__list {
  display: none;
  position: absolute;

  & > li:not(:last-child) {
    border-bottom: 1px solid #c4c4c4;
  }
}

.business-select-menu__img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  & > img {
    width: 34px;
  }
}

#business-select-menu:checked ~ #business-select-menu__list {
  display: block;
  margin-top: 0;
  margin: 0 4px;
  left: 0;
  right: 0;

  border: 1px solid #c4c4c4;
  border-top: none;
}

.business-select-menu__list-item {
  background: #ffffff;
  border: none;
  width: 100%;
  cursor: pointer;

  & > div {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 10px;
  }
}

.initial-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  & > img:first-child {
    transform: rotate(180deg);
    opacity: 0.5;
  }

  & > img {
    width: 10px;
    height: 5px;
  }
}

.dropdown-menu__bpItem {
  position: absolute;
  right: 0;
  top: 0;
}

.business__main-content__header-right__btn {
  width: 36px;
  height: 36px;
  border-radius: 4px;

  &:hover,
  &:active {
    background: #f4f4f4;
  }
}

.dependencies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12px;
  padding-bottom: 22px;
  padding-left: 20px;
  max-width: 1450px;
  margin-left: auto;

  &__content {
    flex-grow: 1;
    padding: 0 20px;
  }
}

#dependencies-checkbox:checked + span {
  background-color: lightgray;

  &::before {
    left: 0;
    background-color: grey;
  }
}

.dependencies__content-list {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #f4f4f4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 18px 16px;
    margin-bottom: 12px;
    margin-left: auto;

    &__right {
      display: flex;
      align-items: center;
      min-width: 383px;
      flex-shrink: 0;
    }

    &__right-active {
      gap: 1em;
    }

    &-completed {
      opacity: 0.5;
    }

    &__title {
      flex-grow: 1;
      padding: 0 23px;
      padding-right: 12px;
      & > p {
        margin-bottom: 5px;
      }
    }
    &__right__status {
      width: 36px;
      height: 36px;
      border: 1px solid;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-completed {
        background: rgba(67, 160, 71, 0.1);
        border-color: #43a047;
      }
      &-pause {
        background: rgba(255, 153, 0, 0.1);
        border-color: #ff9900;
      }
    }

    &__right__logo {
      border-radius: 50%;
      border: 3px solid #fff;
      width: 40px;
      height: 40px;
      overflow: hidden;

      & > img {
        width: 100%;
      }
    }

    &__right__priority {
      display: flex;
      justify-content: space-between;
      gap: 6px;
      margin-right: 14px;
      margin-left: 8px;

      &-indicator {
        border: 1px solid #01b0e9;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;

        &__active {
          background-color: #01b0e9;
        }
      }
    }

    &__arrow {
      cursor: pointer;
    }
  }
}

.dependencies__content-list__task-block {
  width: 100%;
  display: grid;
  grid-template-columns: 88px 1fr;
}

.dependencies__content-list__item-dropdown {
  padding: 0;
  margin: 0;
  box-shadow: none;
  background-color: white;
  position: relative;
}

.dependencies__content-list__item-dropdwn__horizontal-line {
  width: 54px;
  padding-right: 14px;
  flex-shrink: 0;
}

.dependencies__content-list__item-dropdown::before {
  content: "";
  border-bottom: 1px dashed #8b8c91;
  position: absolute;
  top: 54%;
  width: 40px;
  left: -60px;
  padding: 1px;
}

.dependencies__content-list__task-block__vertical-line {
  grid-column-start: 1;
  grid-column-end: 1;
  margin-left: 27px;
  & > div {
    height: calc(100% - 47px);
    border-left: 1px dashed #8b8c91;
  }
}

.dependencies__content-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #f4f4f4;
  box-shadow: 0px 4px 5px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding: 18px 16px;
  margin-bottom: 12px;
  margin-left: auto;
  grid-column-start: 1;
  grid-column-end: 4;
}

.dependencies__content-list__task-block__gorizont-wrapper {
  grid-column-start: 2;
  grid-column-end: 12;
}

.dependencies__content-list__task-block
  > .dependencies__content-list__item:last-child {
  background-color: red;
}

.business__main-content__list-block {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 4px;
  max-height: calc(100% - 138.44px);

  &__container {
    overflow: auto;
    height: calc(100vh - 77.5px);

    &::-webkit-scrollbar {
      width: 7px;
      background: rgba(0, 0, 0, 0.07);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      width: 7px;
      background: rgba(0, 0, 0, 0.15);
      border-radius: 3px;
    }

    & > div {
      margin-right: 7px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    margin-left: 23px;
    margin-right: 86px;
    gap: 2em;

    & > div {
      display: flex;
      justify-content: space-between;
    }

    & > div:first-child {
      gap: 4em;
    }

    & > div:last-child {
      width: 563px;
    }
  }

  &__item > div:first-child {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;

    & > div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 18px 20px;
    }

    & > .business__main-content__list-block__item-right {
      flex-basis: 43.6%;
      // justify-content: space-between;
      // padding-right: 193px;
    }

    &__number {
      margin-right: 34px;
    }

    &__message {
      position: relative;
      margin-right: 44px;
      cursor: pointer;
    }

    &__name > p,
    &__project > p {
      margin-bottom: 5px;
    }

    &-right {
      gap: 14px;
    }
  }
}

.business__main-content__list-block__item__message {
  position: relative;
  cursor: pointer;
}

.business__main-content__list-block__item__message-active > div::after {
  position: absolute;
  content: "4";
  width: 20px;
  height: 20px;
  color: #fff;
  background: #01b0e9;
  border-radius: 50%;
  text-align: center;
  top: -9px;
  right: -9px;
}

.business__main-content__list-block__item {
  background-color: #ffffff;
  box-shadow: 0px 4px 5px rgb(0 0 0 / 20%);
  border-radius: 4px;
  margin-bottom: 12px;
}

.business__main-content__list-block__item {
  position: relative;
}

.business__main-content__list-block__item::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 176, 233, 1);
  height: 4px;
  border-radius: 0px 0px 4px 4px;
}

.business__main-content__list-block__item > div:first-child {
  & > .business__main-content__list-block__item-left {
    gap: 40px;
    padding-left: 23px;
  }
}

.business__main-content__list-block__item__status {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #436ea0;
  font-size: 18px;
  flex-shrink: 0;
  width: 163px;

  & button {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #436ea0;
    background: rgba(67, 110, 160, 0.1);
    border-radius: 4px;
    cursor: pointer;
  }
}

.business__main-content__list-block__item__logo__task {
  margin-right: 76px;
  margin-left: 94px;
}

.business__main-content__list-block__item__logo {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;

  & img {
    width: 34px;
    height: 34px;
  }
}

.dependencies__content-list__item__btn {
  display: flex;
  gap: 14px;
}

.business__main-content__list-block__title-active {
  margin-right: 46px;
  & > div:last-child {
    gap: 1.5em;
    width: auto;
  }
}
.business__main-content__list-block__item-active
  > div:first-child
  > .business__main-content__list-block__item-right {
  padding-right: 54px;
  & .business__main-content__list-block__item__project {
    margin-left: 138px;
  }

  & .business__main-content__list-block__item__status {
    width: 84px;
  }
}

.business__main-content__header-left__position:hover {
  & > p {
    color: #01b0e9;
  }
  & > svg path {
    stroke: #01b0e9;
  }
}

#business-select-menu__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #292a34;
  width: 288px;
  height: 50px;
}

#business-select-menu__label:hover {
  border-color: #292a34;
}

.business__main-content__header-right__btn:hover > svg path,
.business__main-content__header-right__btn:active > svg path {
  stroke: #01b0e9;
}

.business__main-content__list-block__item__project {
  width: 120px;
  margin-left: 198px;
}
.business__main-content__list-block__item__deadline {
  width: 70px;
}

.dependencies__content-list__project {
  margin-right: 34px;
}
