.form-task__dependencies__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 42px);
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  margin-left: 42px;

  & > button {
    background-color: transparent;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #292a34;
    padding: 7px 18px;
    width: 100%;

    &:not(:last-child) {
      border-right: 1px solid #c4c4c4;
    }

    &:last-child {
      border-radius: 0px 4px 4px 0px;
    }

    &:first-child {
      border-radius: 4px 0px 0px 4px;
    }
  }
}

.p__drop-content {
  margin-left: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.form-task__dependencies__btn-active {
  background: #e6f8fd !important;
}

// .task-sample__deps {
// }
