.chatMenu {
  width: 747px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  display: grid;
  grid-template-columns: 747px;
  grid-template-rows: 126px 1fr;
  height: calc(100vh - 68px);
}
.chatMenu-header {
  height: 126px;
  padding-left: 43px;
  padding-right: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;
  }

  &__nav {
    border: 1px solid #c4c4c4;
    border-radius: 5px;

    &-item {
      text-align: center;
      padding: 15px 0;
      width: 133px;
      height: 100%;
      font-size: 18px;
      color: #292a34;
      cursor: pointer;

      &:not(:last-child) {
        border-right: 1px solid #c4c4c4;
      }
    }
  }

  &__close {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #292a34;
    opacity: 0.5;
  }
}

.chatMenu-header__nav-item-active {
  background-color: #01b0e9;
  color: white;
}

.chatMenu-container {
  padding: 29px 51px 29px 29px;
  overflow: auto;
}

.input-full {
  width: calc(100% - 42px);
  display: flex;
  align-items: center;
}

.input-desc {
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  background: rgba(0, 0, 0, 0.03);
  border-radius: 4px 4px 0px 0px;
  padding: 16px 21px 16px 21px;
  gap: 12px;

  & > div {
    display: flex;
  }
}

#chat {
  display: flex;
  flex-direction: column;
}
.chat-bottom {
  height: 124px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e1e1;
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.15);
}

.chat-content {
  flex-grow: 1;
  max-height: 100%;
  overflow-y: scroll;
  height: calc(100vh - 318px);
  border: 1px solid #e1e1e1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.chat-content-scroll {
  min-height: 100%;
  padding: 12px 21px;
  background: rgba(196, 196, 196, 0.23);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.chat-btn {
  background-color: transparent;
  border: none;

  &:focus-visible {
    outline: none;
  }
}

#send-message {
  background-color: #01b0e9;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-message {
  background: #fefefe;
  border-radius: 15px;
  margin-bottom: 7px;
  padding: 21px 17px;

  & h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #292a34;
    margin-bottom: 10px;
  }

  & p {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: #292a34;
  }
}

.chat-message-my {
  background: #97c9da;
  margin-left: auto;
}

.result-drop {
  padding: 19px;
}

.result-drop__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
  margin-right: 20px;

  & h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #292a34;
  }

  & > div {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #01b0e9;
    opacity: 0.5;
    cursor: pointer;

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

.result-drop__content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  &-top {
    height: 42px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    padding-left: 9px;
  }

  &-bottom {
    margin-top: 24px;
    margin-bottom: 13px;
    margin-left: 12px;
  }
}

.result-drop__content-item {
  width: 48%;
  flex-shrink: 0;
}
